* {
  box-sizing: border-box;
}

html, body {
  font-size: $font-size-regular;
  font-family: $primary-font;
  color: $secondary;
  line-height: 1.6;
  background-color: $white;
  font-weight: $font-weight-normal;
}

:hover {
  transition: all 0.3s ease-in-out;
}